.top-menu{
    width: 100%;
    height: 150px;
    background-color: #333;
    display: flex;
    justify-content: center;
}
.slide-menu,.greatPeople{
    width: 150px;
    font-family: 'Do Hyeon', sans-serif;
    height: 60px;
    background-color: #46464b;
    color: white;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    margin: 50px 20px;
    box-shadow: 0 0 5px #1a1a1a;
    cursor: pointer;
    display: flex;
    text-align: center;
}
.slide-menu>img{
    flex: 1;
}
.slide-menu>p{
    flex: 3;
}
.desc{
    width: 100%;
    height: 50px;
    background-color: #222222;
}
.bottom-menu{
    width: 100%;
    height: 800px;
    display: flex;
    background-color: #2f2f33;
}
.list{
    flex: 1;
    height: 100%;
    background-color: #4a4a53;
    overflow-y: auto;
    overflow-x:hidden;
}
.list::-webkit-scrollbar{
    width: 20px;
    background-color: rgb(29, 29, 29);
}
.list::-webkit-scrollbar-thumb {
    background-color: #313038;
    border-radius: 5px;
}
.textarea{
    flex: 4;
    height: 100%;
}
.unitMenu{
    width: 320px;
    height: 75px;
    display: flex;
    background-color: #444;
    box-shadow: 0 0 5px #1a1a1a;
    justify-content: center;
    cursor: pointer;
}
.unitMenu:nth-child(2n){
    background-color: rgb(82, 82, 82);
}
.unitMenu>img{
    flex: 1;
    height: 50px;
    margin: 10px 5px;
}
.unitMenu>p{
    flex: 5;
    font-family: 'Do Hyeon', sans-serif;
    color: white;
    text-align: center;
    line-height: 75px;
    font-size: 25px;
}
.tableLike{
    width: 100%;
    height: 50px;
    display: flex;
    position: sticky
}
.tableLike>div{
    display: flex;
    background-color: rgb(95, 95, 116);
    color: white;
    justify-content: center;
    margin: 0 1px;
    line-height: 50px;
    font-size: 1.1em;
    font-weight: 200;
    font-family: 'Do Hyeon', sans-serif;
    box-shadow: 0 2px 2px #222;
}
.tableLike>div img{
    width: 20px;
    height: 20px;
    padding: 15px 2px;
}
.display_unit{
    width: 100%;
    height: 750px;
    overflow: auto;
    -ms-overflow-style: none;
}
/* 스크롤 바 숨기기 */
.display_unit::-webkit-scrollbar{
     display:none; 
}
.unitForm{
    width: 100%;
    height: 150px;
    display: flex;
}
.unitForm > div{
    display: flex;
    flex-direction: column;
    background-color: #393946;
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 1.1em;
    font-weight: 200;
    font-family: 'Do Hyeon', sans-serif;
    margin: 1px 1px;
}
.unitForm >div>img{
    width: 90px;
    height: 90px;
    margin: 0 auto;
}
.name{
    flex: 1;
}
.move{
    flex:1;
}
.attack{
    flex: 1;
}
.tech{
    flex:3;
}
.resource{
    flex: 3;
}
.gold{
    flex: 2;
}